<!DOCTYPE html>
<html lang="pl">
  <head>
      <link rel="stylesheet" href="../static/styles.css">
      <meta charset="UTF-8">
      <title>Fast Api Project</title>
  </head>
  <table class="ui celled table" >
      <caption>posty</caption>
      <thead>
        <tr>
            <th>nazwa</th>
            <th>wartosc1</th>
            <th>wartosc2</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td data-label="Name">MSFT</td>
            <td data-label="Age">20</td>
            <td data-label="Job">test</td>
        </tr>
        <tr>
            <td data-label="Name">123</td>
            <td data-label="Age">25</td>
            <td data-label="Job">test2</td>
        </tr>
      </tbody>
  </table>
</html>