<!DOCTYPE html>
<html lang="pl">
  <head>
      <link rel="stylesheet" href="../static/styles.css">
      <meta charset="UTF-8">
      <meta name="viewport", content="width=device-width, initial-scale=1.0">
      <title>Fast Api Project</title>
  </head>
  <h1>Użytkownicy strony</h1>
  <body>
    <table>
        <tr>
            <th>ID</th>
            <th>Imie</th>
            <th>Nickname</th>
            <th>Email</th>
            <th>Adres</th>
        </tr>
        {% for user in users %}
            <tr>
                {% for item in data %}
                <td> {{item}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
  </body>
</html>